{
  "presets": ["env", "es2015", "stage-1", "react"],
  "plugins": ["./babel/cup.js"],
  "env": {
    "test": {
      "plugins": [
        [
          "./babel/cup.js",
          "babel-plugin-webpack-loaders",
          {
            "config": "./node.webpack.config.js",
            "verbose": false
          }
        ]
      ]
    }
  }
}
