/* PrismJS 1.16.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css+clike+javascript */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */

.darktheme code[class*='language-'],
.darktheme .hljs > code,
.darktheme pre[class*='language-'] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Code blocks */
.darktheme .hljs,
.darktheme pre[class*='language-'] {
  padding: 1em;
  margin: 0.5em 0;
  overflow: auto;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  overflow: scroll;
  max-width: 100%;
  padding: 1em 1em 1em 1.5em;
  border-left: 5px solid #555;
}

.darktheme :not(pre) > code[class*='language-'],
.darktheme .hljs,
.darktheme pre[class*='language-'] {
  background: rgb(41, 41, 41);
}

/* Inline code */
.darktheme :not(pre) > code[class*='language-'] {
  padding: 0.1em;
  border-radius: 0.3em;
  white-space: normal;
}

.darktheme .token.comment,
.darktheme .token.block-comment,
.darktheme .token.prolog,
.darktheme .token.doctype,
.darktheme .token.cdata {
  color: #999;
}

.darktheme .token.punctuation {
  color: #ccc;
}

.darktheme .token.tag,
.darktheme .token.attr-name,
.darktheme .token.namespace,
.darktheme .token.deleted {
  color: #e2777a;
}

.darktheme .token.function-name {
  color: #6196cc;
}

.darktheme .token.boolean,
.darktheme .token.number,
.darktheme .token.function {
  color: #f08d49;
}

.darktheme .token.property,
.darktheme .token.class-name,
.darktheme .token.constant,
.darktheme .token.symbol {
  color: #f8c555;
}

.darktheme .token.selector,
.darktheme .token.important,
.darktheme .token.atrule,
.darktheme .token.keyword,
.darktheme .token.builtin {
  color: #cc99cd;
}

.darktheme .token.string,
.darktheme .token.char,
.darktheme .token.attr-value,
.darktheme .token.regex,
.darktheme .token.variable {
  color: #7ec699;
}

.darktheme .token.operator,
.darktheme .token.entity,
.darktheme .token.url {
  color: #67cdcc;
  background: none;
}

.darktheme .token.important,
.darktheme .token.bold {
  font-weight: bold;
}
.darktheme .token.italic {
  font-style: italic;
}

.darktheme .token.entity {
  cursor: help;
}

.darktheme .token.inserted {
  color: green;
}
