{
  "singleQuote": true,
  "bracketSpacing": false,
  "trailingComma": "all",
  "printWidth": 68,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "parser": "flow"
      }
    }
  ]
}
